.mail {
    min-height: 200px;
    margin-top: 100px;
    background-color: #db949485;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.mail-title {
    color: rgb(41, 39, 39);
    text-align: center;
    font-size: 25px;
    font-family: CALISTO;
    padding: 20px;
}